altair
annotated-types
asttokens
attrs
blinker
blis
cachetools
catalogue
certifi
charset-normalizer
click
cloudpathlib
colorama
comm
confection
cymem
debugpy
decorator
exceptiongroup
executing
gitdb
GitPython
idna
importlib_metadata
ipykernel
ipython
jedi
Jinja2
joblib
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
langcodes
language_data
marisa-trie
markdown-it-py
MarkupSafe
matplotlib-inline
mdurl
murmurhash
narwhals
nest-asyncio
nltk
numpy
packaging
pandas
parso
pillow
platformdirs
preshed
prompt_toolkit
protobuf
psutil
pure_eval
pyarrow
pydantic
pydantic_core
pydeck
Pygments
python-dateutil
pytz
pyzmq
referencing
regex
requests
rich
rpds-py
scikit-learn
scipy
shellingham
six
smart-open
smmap
spacy
spacy-legacy
spacy-loggers
srsly
stack-data
streamlit
streamlit-lottie
streamlit-option-menu
tenacity
textblob
thinc
threadpoolctl
toml
tornado
tqdm
traitlets
typer
typing_extensions
tzdata
urllib3
wasabi
watchdog
wcwidth
weasel
wrapt
zipp
